name: Publish workflow
run-name: ${{ github.actor }} is running the publish workflow
on:
  release:
    types: [published]
  workflow_dispatch:
jobs:
  pypi:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: |
          pip install --upgrade pip
          pip install -r requirements_dev.txt
          python3 -m build
      - name: Publish package to testpypi
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository_url: https://test.pypi.org/legacy/
      - name: Publish package to pypi
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
      - name: Evaluate test coverage
        run: |
          coverage run -m pytest
          coveralls